@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Definirani css stilovi(generalno) za svaki pojedinaÄni dio html-a */

div.container{
    margin: 0px 40px
}

.fill-remaining-space{
    /* This fills the remaining space, bz using flexbox. Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

form.normal-form{
    margin: 10px;
}

.controles-container{
    width: 100%;
    padding: 5%;
}

.controles-container > * {
    width: 100%;
}

.add-bottom-padding{
    padding-bottom: 10px;
}

/* Radio grou buttons */
mat-radio-group mat-radio-button{
    margin-left: 5px
}

.button-row button{
    margin: 5px;
}

/* stilovi za notification */
snack-bar-container.success {
    background-color: #265f26;
    color : #fff;
}

snack-bar-container.warn {
    background-color: #ce5454;
    color : #fff;
  }


snack-bar-container.notification simple-snack-bar{
    font-size: 18px !important;
    font-weight: bold;
}

.hide{
    display: none;
}

/* mat-table */
mat-footer-row mat-footer-cell{
    justify-content: center;
    font-style: italic;
}

/* filter controls */
.search-div{
    margin: 10px;
      }
      .search-form-field{
          width: 60%;
          margin-left: 10px;
          padding: 5px 10px;
          background-color: #a1d1f1;
          border-radius: 5px;
          }
          .search-form-field div.mat-form-field-underline {
              display: none;
          }
          .search-form-field div.mat-form-field-infix{
              border-top: 0px;
          }
          .search-form-field div.mat-form-field-wrapper{
            padding-bottom: 0px;
        }
        .search-form-field div.mat-form-field-suffix button{
            height: 32px;
            width: 32px;
        }

         /* scc za dijalog */
  .btn-dialog-close{
    width: 45px;
    min-width: 0px !important;
    height: 40px;
    padding: 0px !important;
  }